<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Quick Reminders</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/nicblunck/quick-reminder/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>F/Bj9Asl51itwp4IFSQEu5AhnAk+qCW/odrUq1yL3ZI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.nicolasblunck.QuickReminders.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>quickreminders</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Quick Reminders needs access to your reminders so it can add the ones you capture to your chosen list.</string>
</dict>
</plist>
